[Desktop Entry]
Type=Application
# Exec=xmodmap ~/.Xmodmap 
Exec=/bin/bash -c "sleep 20; /usr/bin/xmodmap /home/$USER/.Xmodmap"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=xmodmap
Name=xmodmap
Comment[ja_JP]=
Comment=
